In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.offline as py
import plotly.graph_objs as go

In [2]:
cd D:\Darvin\python training

D:\Darvin\python training

In [3]:
data=pd.read_csv('mlr.csv')
data.head(1)

,sno,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Item_Outlet_Sales
0,1,19.2,1,0.00562,226.6062,5191.2426

In [4]:
#plotting single column
py.plot([{
    'x' : data.index,
    'y' : data.Item_Outlet_Sales
}])

'temp-plot.html'

In [5]:
#plotting multi columns
sub=data[['Item_Outlet_Sales','Item_MRP']]
sub.head()

   Item_Outlet_Sales  Item_MRP
0          5191.2426  226.6062
1          2328.9684  105.2622
2           352.8740   35.0874
3           263.6568   87.4856
4           340.2238   50.4034

In [6]:
#used list comprehension to give value for cal in y axis
py.plot([{
    'x' : sub.index,
    'y' : sub[col],
    'name' : col
}for col in sub.columns])

'temp-plot.html'

In [7]:
#library for charts(scatter,bar,line)
import plotly.graph_objs as go
py.plot([go.Scatter(
    x= data.Item_MRP,
    y= data.Item_Weight,
    mode='markers',
)])

'temp-plot.html'

In [8]:
d=[go.Scatter(
    x= data.Item_MRP,
    y= data.Item_Weight,
    mode='markers',
    marker=dict(size=14,
               color='red',
               symbol='square',
    line=dict(width=2)))]

In [9]:
#layout,title,xasix,yasix naming
layout=go.Layout(
title='Mrp vs Weight',
xaxis=dict(title='mrp'),
yaxis=dict(title='weight'),
hovermode='closest')

In [10]:
fig=go.Figure(data=d,layout=layout)
py.plot(fig)

'temp-plot.html'

In [11]:
data=pd.read_csv('admission.csv')
data.head(2)

,Serial No.,GRE_Score,TOEFL_Score,University_Rating,state_purpose,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,1
1,2,324,107,4,4.0,4.5,8.87,1,1

In [12]:
#bar chart
cross_tab=pd.pivot_table(data,values='GRE_Score',index='University_Rating')
cross_tab

                    GRE_Score
University_Rating
1                  304.911765
2                  309.134921
3                  315.030864
4                  323.304762
5                  327.890411

In [13]:
d=[go.Bar(x=cross_tab.index,
          y=cross_tab.GRE_Score,
          name='Avg marks',
         )]

In [14]:
py.plot(d)

'temp-plot.html'

In [15]:
cross_tab1=pd.pivot_table(data,values=['GRE_Score','TOEFL_Score'],index='University_Rating')
cross_tab1

                    GRE_Score  TOEFL_Score
University_Rating
1                  304.911765   100.205882
2                  309.134921   103.444444
3                  315.030864   106.314815
4                  323.304762   110.961905
5                  327.890411   113.438356

In [16]:
d_1=go.Scatter(
    x= cross_tab1.index,
    y= cross_tab1.GRE_Score,
    mode='markers+lines',
    name='Avg Profit')
d_2=go.Scatter(
    x= cross_tab1.index,
    y= cross_tab1.TOEFL_Score,
    mode='markers+lines',
    name='Avg Sales')

In [17]:
d=[d_1,d_2]
layout=go.Layout(title='University_Rating vs GRE_Score,TOEFL_Score')
fig=go.Figure(data=d,layout=layout)
py.plot(fig)

'temp-plot.html'

In [18]:
d_1=go.Histogram(
    x= data.GRE_Score,
    name='GRE_Score',
    opacity=0.99
)
d_2=go.Histogram(
    x= data.TOEFL_Score,
    name='TOEFL_Score',
    opacity=0.99
)

In [19]:
d=[d_1,d_2]
layout=go.Layout(title='toefl vs gre')
fig=go.Figure(data=d,layout=layout)
py.plot(fig)

'temp-plot.html'

In [20]:
#box plot
data['University_Rating'].value_counts()

3    162
2    126
4    105
5     73
1     34
Name: University_Rating, dtype: int64

In [21]:
rate1=data.GRE_Score[data['University_Rating']==1]
rate2=data.GRE_Score[data['University_Rating']==2]
rate3=data.GRE_Score[data['University_Rating']==3]
rate4=data.GRE_Score[data['University_Rating']==4]
rate5=data.GRE_Score[data['University_Rating']==5]

In [22]:
d_1=go.Box(y=rate1,
          name='ur1')
d_2=go.Box(y=rate2,
          name='ur2')
d_3=go.Box(y=rate3,
          name='ur3')
d_4=go.Box(y=rate4,
          name='ur4')
d_5=go.Box(y=rate5,
          name='ur5')

In [23]:
d=[d_1,d_2,d_3,d_4,d_5]
layout=go.Layout(title='Distribution of gre score')
fig=go.Figure(data=d,layout=layout)
py.plot(fig)

'temp-plot.html'

In [24]:
#scatterplot matrix
import plotly.figure_factory as plff

In [25]:
data.head(1)

,Serial No.,GRE_Score,TOEFL_Score,University_Rating,state_purpose,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,1

In [26]:
x=data.loc[:,['GRE_Score','TOEFL_Score','CGPA','University_Rating']]
x['index']=np.arange(1,len(x)+1)
x

     GRE_Score  TOEFL_Score  CGPA  University_Rating  index
0          337          118  9.65                  4      1
1          324          107  8.87                  4      2
2          316          104  8.00                  3      3
3          322          110  8.67                  3      4
4          314          103  8.21                  2      5
..         ...          ...   ...                ...    ...
495        332          108  9.02                  5    496
496        337          117  9.87                  5    497
497        330          120  9.56                  5    498
498        312          103  8.43                  4    499
499        327          113  9.04                  4    500

[500 rows x 5 columns]

In [27]:
#here we choose all the data
fig=plff.create_scatterplotmatrix(x,diag='box',index='index',colormap='Portland',colormap_type='cat')
py.plot(fig)

'temp-plot.html'

In [28]:
fig=plff.create_scatterplotmatrix(x,diag='box',index='University_Rating',colormap='Portland',colormap_type='cat')
py.plot(fig)

'temp-plot.html'